.jumbotron{
    background-color: $primary;
    color: white;
    border-radius: 0px;
}

.code-form{
    padding: 10px;
}


.card{
    margin-top: 10px;
    .card-header{
        background-color: $primary;
        color: white;
    }
}