$theme-colors: (
    // Custom theming for colors can be done here
    "danger": #D05353,
    "success": #9CDE9F
);

@import "~bootstrap/scss/bootstrap";

// Page specific imports

@import "./Styles/Home.scss";

// Custom app wide scss

.full-width{
  width: 100%;
}

.hidden{
  display: none;
}